{
  "Parameters": {
    "DB_HOSTNAME_READER": "",
    "DB_HOSTNAME_WRITER": "",
    "DB_USERNAME": "",
    "DB_PASSWORD": "",
    "DB_NAME": "",
    "DB_PORT": "",
    "SECURITY_GROUP": "",
    "SUBNET_1": "",
    "SUBNET_2": "",
    "SUBNET_3": ""
  }
}
